@namespace SmallsOnline.Blazor.Components.Tables

@inherits BootstrapComponent

<div class="@ClassValue">
    <table class="table table-sm table-hover table-striped">
        <thead>
            <tr>
                <th>
                    @Title
                </th>
            </tr>
        </thead>
        <tbody>
            @ChildContent
        </tbody>
    </table>
</div>