@using SmallsOnline.Blazor.Components.Common

@page "/"

<div class="container-fluid">
    <BootstrapRow ClassNames="pt-3 py-3 justify-content-center">
        <BootstrapCol MD=12 LG=9 XL=7 XXL=6>
            <PageContentCard PageTitle="Home" Id="home-card">
                <BootstrapRow>
                    <BootstrapCol>
                        <p>
                            Hello world!
                        </p>
                    </BootstrapCol>
                </BootstrapRow>
                <BootstrapRow ClassNames="pt-3">
                    <BootstrapCol>
                        <SimpleTable Title="Simple Table">
                            <SimpleTableItem>
                                Table Item 01
                            </SimpleTableItem>
                            <SimpleTableItem>
                                Table Item 02
                            </SimpleTableItem>
                        </SimpleTable>
                    </BootstrapCol>
                </BootstrapRow>
                <BootstrapRow ClassNames="pt-3">
                    <BootstrapCol>
                        <ItemCard>
                            <p>
                                Wow! Look at this card.
                            </p>
                        </ItemCard>
                    </BootstrapCol>
                </BootstrapRow>
                <BootstrapRow ClassNames="pt-3">
                    <BootstrapCol>
                        <ItemCard>
                            <TitleSection>
                                <ItemCardHeader01 />
                            </TitleSection>
                            <ChildContent>
                                <p>
                                    Wow! Look at this card, it has a header!
                                </p>
                            </ChildContent>
                        </ItemCard>
                    </BootstrapCol>
                </BootstrapRow>
                <BootstrapRow ClassNames="pt-3">
                    <BootstrapCol>
                        <ItemCard TitleSubtitle="And a subtitle">
                            <TitleSection>
                                <ItemCardHeader01 />
                            </TitleSection>
                            <ChildContent>
                                <p>
                                    Wow! Look at this card, it has a header and footer!
                                </p>
                            </ChildContent>
                            <FooterSection>
                                <ItemCardFooter01 />
                            </FooterSection>
                        </ItemCard>
                    </BootstrapCol>
                </BootstrapRow>
            </PageContentCard>
        </BootstrapCol>
        <BootstrapCol XS=12 SM=6 MD=5 LG=3 XXL=2 ClassNames="pt-4 pt-lg-0">
            <PageContentCard>
                <BootstrapRow ClassNames="justify-content-center">
                    <BootstrapCol>
                        <img src="imgs/animal-crossing-avatar.png" class="border border-primary rounded-circle img-fluid" />
                    </BootstrapCol>
                </BootstrapRow>
            </PageContentCard>
        </BootstrapCol>
    </BootstrapRow>
</div>