@using SmallsOnline.Blazor.Components.Common

@page "/"

<PageContentCard PageTitle="Home" Id="home-card">
    <BootstrapRow>
        <BootstrapCol>
            <p>
                Hello world!
            </p>
        </BootstrapCol>
    </BootstrapRow>
    <BootstrapRow ClassNames="pt-3">
        <BootstrapCol>
            <ListOfPages />
        </BootstrapCol>
    </BootstrapRow>
</PageContentCard>