<BootstrapRow ClassNames="pt-3">
    <BootstrapCol>
        <SimpleListGroup>
            <SimpleListGroupItem>
                <span class="fw-bold"><a href="/simple-table-demo">Simple Table</a></span>
            </SimpleListGroupItem>
            <SimpleListGroupItem>
                <span class="fw-bold"><a href="/item-card-demo">Item Card</a></span>
            </SimpleListGroupItem>
            <SimpleListGroupItem>
                <span class="fw-bold"><a href="/list-group-demo">List Group</a></span>
            </SimpleListGroupItem>
        </SimpleListGroup>
    </BootstrapCol>
</BootstrapRow>